.main-container{
    height: 80vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.App-header{
    font-weight: bold;
}
.container{
    width:30%;
    height: 80%;
    align-self: center;
  
    
    
}
.form{ 
    margin-top: 7px;
    height: 100%;
    display: flex;
    flex-direction:column ; 
    justify-content: space-evenly;
   


} 
input{
    width: 98%;
    height: 30px;
    display: block;
    margin: auto;
    
    
    border:none;
   background-color:rgb(245, 245, 253) ;
   border:rgb(229, 229, 240) 1px solid;
    border-radius: 5px;
    
}
input:hover{
    border:none;
    border:rgb(231, 129, 172) 1px solid;
    background-color:white ;
}

.checkbox{
    text-align: center;
}
 #checkbox{
    display: inline;
    text-align: center;
} 
.checkbox input{
    width: 5%;
    height: 20px;
    margin: 5px;
    margin-top: 20px;
    cursor: pointer;
} 

.errormessage{
    width:100%;
    height:30px;
    color: rgb(250, 107, 107);
   
    
}
.checkbox .errormessage{
    margin-top:10px;
}
.successmessage{
    color:rgb(124, 211, 124);
}
 button{
    width:50%;
    height: 5vh;
    text-align: center;
    margin:3vh auto;
    background-color: rgb(224, 40, 117);
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
  
     
}
button:hover{
    opacity: 0.5;
} 

ul li{
    list-style: none;
    margin: 30px auto;
    text-align: center;
}

label{
    float: left;
   font-weight: bold;
   margin-top: 2vh;
   margin-bottom: 5px;
}
.successmessage{
    text-align: center;
   
}
.submitted{
    margin-top: 20px;
    border:1px rgb(124, 211, 124) solid;
}

@media (max-width:1320px){
    .container{
        width:65%;
        
        
        
    }
}
@media (max-width:980px){
    .container{
        width:85%;
        
        
        
    }
}