.nav{
    
    display: flex;
    justify-content: center;
    padding:20px ;
    
    /* background-color: hsl(252, 56%, 98%); */
    border-bottom: 1px  rgb(245, 229, 199) solid;
}
.nav .item{
    text-decoration: none;
    color:black;
    margin:0 20px;
    font-weight: bold;
}
.item:hover{
    text-decoration: underline;
    color:rgb(110, 105, 105);
    
}